<template>

    <a class="uk-placeholder uk-text-center uk-display-block uk-margin-remove" v-if="!icon_class" @click.prevent="pick">
        <img width="60" height="60" :alt="'Placeholder Image' | trans" :src="$url('app/system/assets/images/placeholder-image.svg')">

        <p class="uk-text-muted uk-margin-small-top">{{ 'Add Icon' | trans }}</p>
    </a>

    <div class="uk-placeholder icon-picker-container uk-overlay uk-overlay-hover uk-visible-hover uk-text-center uk-display-block uk-margin-remove"  v-else>

            <i class="uk-icon-large {{ icon_class }}"></i>

            <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade"></div>

            <a class="uk-position-cover" @click.prevent="pick"></a>

            <div class="uk-panel-badge pk-panel-badge uk-hidden">
                <ul class="uk-subnav pk-subnav-icon">
                    <li>
                        <a class="pk-icon-delete pk-icon-hover" :title="'Delete' | trans" data-uk-tooltip="{delay: 500}" @click.prevent="remove"></a>
                    </li>
                </ul>
            </div>

    </div>

    <div>
        <v-modal v-ref:modal>
            <form class="uk-form uk-form-stacked icon-picker" @submit.prevent="update">

                <div class="uk-modal-header">
                    <h2>{{ 'Choose Icon' | trans }}</h2>
                </div>

                <!--<div class="uk-form-row">
                    <label for="form-icon-class" class="uk-form-label">{{ 'Enter icon class' | trans }}</label>
                    <input v-model="icon_class" id="form-icon-class" />
                </div>-->

                <i class="uk-icon-cog"></i>
                <i class="uk-icon-user"></i>
                <i class="uk-icon-home"></i>
                <i class="uk-icon-external-link"></i>
                <i class="uk-icon-envelope-o"></i>
                <i class="uk-icon-fast-backward"></i>
                <i class="uk-icon-stop"></i>
                <i class="uk-icon-play"></i>
                <i class="uk-icon-fast-forward"></i>
                <i class="uk-icon-folder-open"></i>
                <i class="uk-icon-caret-down"></i>
                <i class="uk-icon-edit"></i>
                <i class="uk-icon-eye"></i>
                <i class="uk-icon-check-square-o"></i>
                <i class="uk-icon-trash-o"></i>
                <i class="uk-icon-adjust"></i>
                <i class="uk-icon-anchor"></i>
                <i class="uk-icon-archive"></i>
                <i class="uk-icon-area-chart"></i>
                <i class="uk-icon-arrows"></i>
                <i class="uk-icon-arrows-h"></i>
                <i class="uk-icon-arrows-v"></i>
                <i class="uk-icon-asterisk"></i>
                <i class="uk-icon-at"></i>
                <i class="uk-icon-automobile"></i>
                <i class="uk-icon-balance-scale"></i>
                <i class="uk-icon-ban"></i>
                <i class="uk-icon-bank"></i>
                <i class="uk-icon-bar-chart"></i>
                <i class="uk-icon-bar-chart-o"></i>
                <i class="uk-icon-barcode"></i>
                <i class="uk-icon-bars"></i>
                <i class="uk-icon-battery-empty"></i>
                <i class="uk-icon-battery-0"></i>
                <i class="uk-icon-battery-quarter"></i>
                <i class="uk-icon-battery-1"></i>
                <i class="uk-icon-battery-half"></i>
                <i class="uk-icon-battery-2"></i>
                <i class="uk-icon-battery-three-quarters"></i>
                <i class="uk-icon-battery-3"></i>
                <i class="uk-icon-battery-full"></i>
                <i class="uk-icon-battery-4"></i>
                <i class="uk-icon-bed"></i>
                <i class="uk-icon-beer"></i>
                <i class="uk-icon-bell"></i>
                <i class="uk-icon-bell-o"></i>
                <i class="uk-icon-bell-slash"></i>
                <i class="uk-icon-bell-slash-o"></i>
                <i class="uk-icon-bicycle"></i>
                <i class="uk-icon-binoculars"></i>
                <i class="uk-icon-birthday-cake"></i>
                <i class="uk-icon-bluetooth"></i>
                <i class="uk-icon-bluetooth-b"></i>
                <i class="uk-icon-bolt"></i>
                <i class="uk-icon-bomb"></i>
                <i class="uk-icon-book"></i>
                <i class="uk-icon-bookmark"></i>
                <i class="uk-icon-bookmark-o"></i>
                <i class="uk-icon-briefcase"></i>
                <i class="uk-icon-bug"></i>
                <i class="uk-icon-building"></i>
                <i class="uk-icon-building-o"></i>
                <i class="uk-icon-bullhorn"></i>
                <i class="uk-icon-bullseye"></i>
                <i class="uk-icon-bus"></i>
                <i class="uk-icon-cab"></i>
                <i class="uk-icon-calculator"></i>
                <i class="uk-icon-calendar"></i>
                <i class="uk-icon-calendar-check-o"></i>
                <i class="uk-icon-calendar-minus-o"></i>
                <i class="uk-icon-calendar-o"></i>
                <i class="uk-icon-calendar-plus-o"></i>
                <i class="uk-icon-calendar-times-o"></i>
                <i class="uk-icon-camera"></i>
                <i class="uk-icon-camera-retro"></i>
                <i class="uk-icon-car"></i>
                <i class="uk-icon-caret-square-o-down"></i>
                <i class="uk-icon-caret-square-o-left"></i>
                <i class="uk-icon-caret-square-o-right"></i>
                <i class="uk-icon-caret-square-o-up"></i>
                <i class="uk-icon-cart-arrow-down"></i>
                <i class="uk-icon-cart-plus"></i>
                <i class="uk-icon-cc"></i>
                <i class="uk-icon-certificate"></i>
                <i class="uk-icon-check"></i>
                <i class="uk-icon-check-circle"></i>
                <i class="uk-icon-check-circle-o"></i>
                <i class="uk-icon-check-square"></i>
                <i class="uk-icon-child"></i>
                <i class="uk-icon-circle"></i>
                <i class="uk-icon-circle-o"></i>
                <i class="uk-icon-circle-o-notch"></i>
                <i class="uk-icon-circle-thin"></i>
                <i class="uk-icon-clock-o"></i>
                <i class="uk-icon-clone"></i>
                <i class="uk-icon-close"></i>
                <i class="uk-icon-cloud"></i>
                <i class="uk-icon-cloud-download"></i>
                <i class="uk-icon-cloud-upload"></i>
                <i class="uk-icon-code"></i>
                <i class="uk-icon-code-fork"></i>
                <i class="uk-icon-coffee"></i>
                <i class="uk-icon-cogs"></i>
                <i class="uk-icon-comment"></i>
                <i class="uk-icon-comment-o"></i>
                <i class="uk-icon-commenting"></i>
                <i class="uk-icon-commenting-o"></i>
                <i class="uk-icon-comments"></i>
                <i class="uk-icon-comments-o"></i>
                <i class="uk-icon-compass"></i>
                <i class="uk-icon-copyright"></i>
                <i class="uk-icon-creative-commons"></i>
                <i class="uk-icon-credit-card"></i>
                <i class="uk-icon-credit-card-alt"></i>
                <i class="uk-icon-crop"></i>
                <i class="uk-icon-crosshairs"></i>
                <i class="uk-icon-cube"></i>
                <i class="uk-icon-cubes"></i>
                <i class="uk-icon-cutlery"></i>
                <i class="uk-icon-dashboard"></i>
                <i class="uk-icon-database"></i>
                <i class="uk-icon-desktop"></i>
                <i class="uk-icon-diamond"></i>
                <i class="uk-icon-dot-circle-o"></i>
                <i class="uk-icon-download"></i>
                <i class="uk-icon-ellipsis-h"></i>
                <i class="uk-icon-ellipsis-v"></i>
                <i class="uk-icon-envelope"></i>
                <i class="uk-icon-envelope-square"></i>
                <i class="uk-icon-eraser"></i>
                <i class="uk-icon-exchange"></i>
                <i class="uk-icon-exclamation"></i>
                <i class="uk-icon-exclamation-circle"></i>
                <i class="uk-icon-exclamation-triangle"></i>
                <i class="uk-icon-external-link-square"></i>
                <i class="uk-icon-eye-slash"></i>
                <i class="uk-icon-eyedropper"></i>
                <i class="uk-icon-fax"></i>
                <i class="uk-icon-female"></i>
                <i class="uk-icon-fighter-jet"></i>
                <i class="uk-icon-file-archive-o"></i>
                <i class="uk-icon-file-audio-o"></i>
                <i class="uk-icon-file-code-o"></i>
                <i class="uk-icon-file-excel-o"></i>
                <i class="uk-icon-file-image-o"></i>
                <i class="uk-icon-file-movie-o"></i>
                <i class="uk-icon-file-pdf-o"></i>
                <i class="uk-icon-file-photo-o"></i>
                <i class="uk-icon-file-picture-o"></i>
                <i class="uk-icon-file-powerpoint-o"></i>
                <i class="uk-icon-file-sound-o"></i>
                <i class="uk-icon-file-video-o"></i>
                <i class="uk-icon-file-word-o"></i>
                <i class="uk-icon-file-zip-o"></i>
                <i class="uk-icon-film"></i>
                <i class="uk-icon-filter"></i>
                <i class="uk-icon-fire"></i>
                <i class="uk-icon-fire-extinguisher"></i>
                <i class="uk-icon-flag"></i>
                <i class="uk-icon-flag-checkered"></i>
                <i class="uk-icon-flag-o"></i>
                <i class="uk-icon-flash"></i>
                <i class="uk-icon-flask"></i>
                <i class="uk-icon-folder"></i>
                <i class="uk-icon-folder-o"></i>
                <i class="uk-icon-folder-open-o"></i>
                <i class="uk-icon-frown-o"></i>
                <i class="uk-icon-futbol-o"></i>
                <i class="uk-icon-gamepad"></i>
                <i class="uk-icon-gavel"></i>
                <i class="uk-icon-gear"></i>
                <i class="uk-icon-gears"></i>
                <i class="uk-icon-genderless"></i>
                <i class="uk-icon-gift"></i>
                <i class="uk-icon-glass"></i>
                <i class="uk-icon-globe"></i>
                <i class="uk-icon-graduation-cap"></i>
                <i class="uk-icon-group"></i>
                <i class="uk-icon-hand-lizard-o"></i>
                <i class="uk-icon-hand-stop-o"></i>
                <i class="uk-icon-hand-paper-o"></i>
                <i class="uk-icon-hand-peace-o"></i>
                <i class="uk-icon-hand-pointer-o"></i>
                <i class="uk-icon-hand-grab-o"></i>
                <i class="uk-icon-hand-rock-o"></i>
                <i class="uk-icon-hand-scissors-o"></i>
                <i class="uk-icon-hand-spock-o"></i>
                <i class="uk-icon-hdd-o"></i>
                <i class="uk-icon-hashtag"></i>
                <i class="uk-icon-headphones"></i>
                <i class="uk-icon-heart"></i>
                <i class="uk-icon-heart-o"></i>
                <i class="uk-icon-heartbeat"></i>
                <i class="uk-icon-history"></i>
                <i class="uk-icon-hotel"></i>
                <i class="uk-icon-hourglass"></i>
                <i class="uk-icon-hourglass-o"></i>
                <i class="uk-icon-hourglass-1"></i>
                <i class="uk-icon-hourglass-start"></i>
                <i class="uk-icon-hourglass-2"></i>
                <i class="uk-icon-hourglass-half"></i>
                <i class="uk-icon-hourglass-3"></i>
                <i class="uk-icon-hourglass-end"></i>
                <i class="uk-icon-i-cursor"></i>
                <i class="uk-icon-image"></i>
                <i class="uk-icon-inbox"></i>
                <i class="uk-icon-industry"></i>
                <i class="uk-icon-info"></i>
                <i class="uk-icon-info-circle"></i>
                <i class="uk-icon-institution"></i>
                <i class="uk-icon-key"></i>
                <i class="uk-icon-keyboard-o"></i>
                <i class="uk-icon-language"></i>
                <i class="uk-icon-laptop"></i>
                <i class="uk-icon-leaf"></i>
                <i class="uk-icon-legal"></i>
                <i class="uk-icon-lemon-o"></i>
                <i class="uk-icon-level-down"></i>
                <i class="uk-icon-level-up"></i>
                <i class="uk-icon-life-bouy"></i>
                <i class="uk-icon-life-buoy"></i>
                <i class="uk-icon-life-ring"></i>
                <i class="uk-icon-life-saver"></i>
                <i class="uk-icon-lightbulb-o"></i>
                <i class="uk-icon-line-chart"></i>
                <i class="uk-icon-location-arrow"></i>
                <i class="uk-icon-lock"></i>
                <i class="uk-icon-magic"></i>
                <i class="uk-icon-magnet"></i>
                <i class="uk-icon-mail-forward"></i>
                <i class="uk-icon-mail-reply"></i>
                <i class="uk-icon-mail-reply-all"></i>
                <i class="uk-icon-male"></i>
                <i class="uk-icon-map"></i>
                <i class="uk-icon-map-marker"></i>
                <i class="uk-icon-map-o"></i>
                <i class="uk-icon-map-pin"></i>
                <i class="uk-icon-map-signs"></i>
                <i class="uk-icon-meh-o"></i>
                <i class="uk-icon-microphone"></i>
                <i class="uk-icon-microphone-slash"></i>
                <i class="uk-icon-minus"></i>
                <i class="uk-icon-minus-circle"></i>
                <i class="uk-icon-minus-square"></i>
                <i class="uk-icon-minus-square-o"></i>
                <i class="uk-icon-mobile"></i>
                <i class="uk-icon-mobile-phone"></i>
                <i class="uk-icon-money"></i>
                <i class="uk-icon-moon-o"></i>
                <i class="uk-icon-mortar-board"></i>
                <i class="uk-icon-motorcycle"></i>
                <i class="uk-icon-mouse-pointer"></i>
                <i class="uk-icon-music"></i>
                <i class="uk-icon-navicon"></i>
                <i class="uk-icon-newspaper-o"></i>
                <i class="uk-icon-object-group"></i>
                <i class="uk-icon-object-ungroup"></i>
                <i class="uk-icon-paint-brush"></i>
                <i class="uk-icon-paper-plane"></i>
                <i class="uk-icon-paper-plane-o"></i>
                <i class="uk-icon-paw"></i>
                <i class="uk-icon-pencil"></i>
                <i class="uk-icon-pencil-square"></i>
                <i class="uk-icon-pencil-square-o"></i>
                <i class="uk-icon-percent"></i>
                <i class="uk-icon-phone"></i>
                <i class="uk-icon-phone-square"></i>
                <i class="uk-icon-photo"></i>
                <i class="uk-icon-picture-o"></i>
                <i class="uk-icon-pie-chart"></i>
                <i class="uk-icon-plane"></i>
                <i class="uk-icon-plug"></i>
                <i class="uk-icon-plus"></i>
                <i class="uk-icon-plus-circle"></i>
                <i class="uk-icon-plus-square"></i>
                <i class="uk-icon-plus-square-o"></i>
                <i class="uk-icon-power-off"></i>
                <i class="uk-icon-print"></i>
                <i class="uk-icon-puzzle-piece"></i>
                <i class="uk-icon-qrcode"></i>
                <i class="uk-icon-question"></i>
                <i class="uk-icon-question-circle"></i>
                <i class="uk-icon-quote-left"></i>
                <i class="uk-icon-quote-right"></i>
                <i class="uk-icon-random"></i>
                <i class="uk-icon-recycle"></i>
                <i class="uk-icon-refresh"></i>
                <i class="uk-icon-registered"></i>
                <i class="uk-icon-remove"></i>
                <i class="uk-icon-reorder"></i>
                <i class="uk-icon-reply"></i>
                <i class="uk-icon-reply-all"></i>
                <i class="uk-icon-retweet"></i>
                <i class="uk-icon-road"></i>
                <i class="uk-icon-rocket"></i>
                <i class="uk-icon-rss"></i>
                <i class="uk-icon-rss-square"></i>
                <i class="uk-icon-search"></i>
                <i class="uk-icon-search-minus"></i>
                <i class="uk-icon-search-plus"></i>
                <i class="uk-icon-send"></i>
                <i class="uk-icon-send-o"></i>
                <i class="uk-icon-server"></i>
                <i class="uk-icon-share"></i>
                <i class="uk-icon-share-alt"></i>
                <i class="uk-icon-share-alt-square"></i>
                <i class="uk-icon-share-square"></i>
                <i class="uk-icon-share-square-o"></i>
                <i class="uk-icon-shield"></i>
                <i class="uk-icon-ship"></i>
                <i class="uk-icon-shopping-bag"></i>
                <i class="uk-icon-shopping-basket"></i>
                <i class="uk-icon-shopping-cart"></i>
                <i class="uk-icon-sign-in"></i>
                <i class="uk-icon-sign-out"></i>
                <i class="uk-icon-signal"></i>
                <i class="uk-icon-sitemap"></i>
                <i class="uk-icon-sliders"></i>
                <i class="uk-icon-smile-o"></i>
                <i class="uk-icon-soccer-ball-o"></i>
                <i class="uk-icon-sort"></i>
                <i class="uk-icon-sort-alpha-asc"></i>
                <i class="uk-icon-sort-alpha-desc"></i>
                <i class="uk-icon-sort-amount-asc"></i>
                <i class="uk-icon-sort-amount-desc"></i>
                <i class="uk-icon-sort-asc"></i>
                <i class="uk-icon-sort-desc"></i>
                <i class="uk-icon-sort-down"></i>
                <i class="uk-icon-sort-numeric-asc"></i>
                <i class="uk-icon-sort-numeric-desc"></i>
                <i class="uk-icon-sort-up"></i>
                <i class="uk-icon-space-shuttle"></i>
                <i class="uk-icon-spinner"></i>
                <i class="uk-icon-spoon"></i>
                <i class="uk-icon-square"></i>
                <i class="uk-icon-square-o"></i>
                <i class="uk-icon-star"></i>
                <i class="uk-icon-star-half"></i>
                <i class="uk-icon-star-half-empty"></i>
                <i class="uk-icon-star-half-full"></i>
                <i class="uk-icon-star-half-o"></i>
                <i class="uk-icon-star-o"></i>
                <i class="uk-icon-sticky-note"></i>
                <i class="uk-icon-sticky-note-o"></i>
                <i class="uk-icon-street-view"></i>
                <i class="uk-icon-suitcase"></i>
                <i class="uk-icon-sun-o"></i>
                <i class="uk-icon-support"></i>
                <i class="uk-icon-tablet"></i>
                <i class="uk-icon-tachometer"></i>
                <i class="uk-icon-tag"></i>
                <i class="uk-icon-tags"></i>
                <i class="uk-icon-tasks"></i>
                <i class="uk-icon-taxi"></i>
                <i class="uk-icon-television"></i>
                <i class="uk-icon-terminal"></i>
                <i class="uk-icon-thumb-tack"></i>
                <i class="uk-icon-thumbs-down"></i>
                <i class="uk-icon-thumbs-o-down"></i>
                <i class="uk-icon-thumbs-o-up"></i>
                <i class="uk-icon-thumbs-up"></i>
                <i class="uk-icon-ticket"></i>
                <i class="uk-icon-times"></i>
                <i class="uk-icon-times-circle"></i>
                <i class="uk-icon-times-circle-o"></i>
                <i class="uk-icon-tint"></i>
                <i class="uk-icon-toggle-down"></i>
                <i class="uk-icon-toggle-left"></i>
                <i class="uk-icon-toggle-off"></i>
                <i class="uk-icon-toggle-on"></i>
                <i class="uk-icon-toggle-right"></i>
                <i class="uk-icon-toggle-up"></i>
                <i class="uk-icon-trademark"></i>
                <i class="uk-icon-trash"></i>
                <i class="uk-icon-tree"></i>
                <i class="uk-icon-trophy"></i>
                <i class="uk-icon-truck"></i>
                <i class="uk-icon-tty"></i>
                <i class="uk-icon-tv"></i>
                <i class="uk-icon-umbrella"></i>
                <i class="uk-icon-university"></i>
                <i class="uk-icon-unlock"></i>
                <i class="uk-icon-unlock-alt"></i>
                <i class="uk-icon-unsorted"></i>
                <i class="uk-icon-upload"></i>
                <i class="uk-icon-usb"></i>
                <i class="uk-icon-user-plus"></i>
                <i class="uk-icon-user-secret"></i>
                <i class="uk-icon-user-times"></i>
                <i class="uk-icon-users"></i>
                <i class="uk-icon-video-camera"></i>
                <i class="uk-icon-volume-down"></i>
                <i class="uk-icon-volume-off"></i>
                <i class="uk-icon-volume-up"></i>
                <i class="uk-icon-warning"></i>
                <i class="uk-icon-wheelchair"></i>
                <i class="uk-icon-wifi"></i>
                <i class="uk-icon-wrench"></i>
                <i class="uk-icon-ambulance"></i>
                <i class="uk-icon-subway"></i>
                <i class="uk-icon-train"></i>
                <i class="uk-icon-american-sign-language-interpreting"></i>
                <i class="uk-icon-asl-interpreting"></i>
                <i class="uk-icon-assistive-listening-systems"></i>
                <i class="uk-icon-audio-description"></i>
                <i class="uk-icon-blind"></i>
                <i class="uk-icon-braille"></i>
                <i class="uk-icon-deaf"></i>
                <i class="uk-icon-deafness"></i>
                <i class="uk-icon-hard-of-hearing"></i>
                <i class="uk-icon-low-vision"></i>
                <i class="uk-icon-question-circle-o"></i>
                <i class="uk-icon-sign-language"></i>
                <i class="uk-icon-signing"></i>
                <i class="uk-icon-universal-access"></i>
                <i class="uk-icon-volume-control-phone"></i>
                <i class="uk-icon-wheelchair-alt"></i>
                <i class="uk-icon-mars"></i>
                <i class="uk-icon-mars-double"></i>
                <i class="uk-icon-mars-stroke"></i>
                <i class="uk-icon-mars-stroke-h"></i>
                <i class="uk-icon-mars-stroke-v"></i>
                <i class="uk-icon-mercury"></i>
                <i class="uk-icon-neuter"></i>
                <i class="uk-icon-transgender"></i>
                <i class="uk-icon-transgender-alt"></i>
                <i class="uk-icon-venus"></i>
                <i class="uk-icon-venus-double"></i>
                <i class="uk-icon-venus-mars"></i>
                <i class="uk-icon-file"></i>
                <i class="uk-icon-file-o"></i>
                <i class="uk-icon-file-text"></i>
                <i class="uk-icon-file-text-o"></i>
                <i class="uk-icon-cc-amex"></i>
                <i class="uk-icon-cc-diners-club"></i>
                <i class="uk-icon-cc-discover"></i>
                <i class="uk-icon-cc-jcb"></i>
                <i class="uk-icon-cc-mastercard"></i>
                <i class="uk-icon-cc-paypal"></i>
                <i class="uk-icon-cc-stripe"></i>
                <i class="uk-icon-cc-visa"></i>
                <i class="uk-icon-google-wallet"></i>
                <i class="uk-icon-paypal"></i>
                <i class="uk-icon-bitcoin"></i>
                <i class="uk-icon-btc"></i>
                <i class="uk-icon-cny"></i>
                <i class="uk-icon-dollar"></i>
                <i class="uk-icon-eur"></i>
                <i class="uk-icon-euro"></i>
                <i class="uk-icon-gbp"></i>
                <i class="uk-icon-ils"></i>
                <i class="uk-icon-inr"></i>
                <i class="uk-icon-jpy"></i>
                <i class="uk-icon-krw"></i>
                <i class="uk-icon-rmb"></i>
                <i class="uk-icon-rouble"></i>
                <i class="uk-icon-rub"></i>
                <i class="uk-icon-ruble"></i>
                <i class="uk-icon-rupee"></i>
                <i class="uk-icon-shekel"></i>
                <i class="uk-icon-sheqel"></i>
                <i class="uk-icon-try"></i>
                <i class="uk-icon-turkish-lira"></i>
                <i class="uk-icon-usd"></i>
                <i class="uk-icon-won"></i>
                <i class="uk-icon-yen"></i>
                <i class="uk-icon-align-center"></i>
                <i class="uk-icon-align-justify"></i>
                <i class="uk-icon-align-left"></i>
                <i class="uk-icon-align-right"></i>
                <i class="uk-icon-bold"></i>
                <i class="uk-icon-chain"></i>
                <i class="uk-icon-chain-broken"></i>
                <i class="uk-icon-clipboard"></i>
                <i class="uk-icon-columns"></i>
                <i class="uk-icon-copy"></i>
                <i class="uk-icon-cut"></i>
                <i class="uk-icon-dedent"></i>
                <i class="uk-icon-files-o"></i>
                <i class="uk-icon-floppy-o"></i>
                <i class="uk-icon-font"></i>
                <i class="uk-icon-header"></i>
                <i class="uk-icon-indent"></i>
                <i class="uk-icon-italic"></i>
                <i class="uk-icon-link"></i>
                <i class="uk-icon-list"></i>
                <i class="uk-icon-list-alt"></i>
                <i class="uk-icon-list-ol"></i>
                <i class="uk-icon-list-ul"></i>
                <i class="uk-icon-outdent"></i>
                <i class="uk-icon-paperclip"></i>
                <i class="uk-icon-paragraph"></i>
                <i class="uk-icon-paste"></i>
                <i class="uk-icon-repeat"></i>
                <i class="uk-icon-rotate-left"></i>
                <i class="uk-icon-rotate-right"></i>
                <i class="uk-icon-save"></i>
                <i class="uk-icon-scissors"></i>
                <i class="uk-icon-strikethrough"></i>
                <i class="uk-icon-subscript"></i>
                <i class="uk-icon-superscript"></i>
                <i class="uk-icon-table"></i>
                <i class="uk-icon-text-height"></i>
                <i class="uk-icon-text-width"></i>
                <i class="uk-icon-th"></i>
                <i class="uk-icon-th-large"></i>
                <i class="uk-icon-th-list"></i>
                <i class="uk-icon-underline"></i>
                <i class="uk-icon-undo"></i>
                <i class="uk-icon-unlink"></i>
                <i class="uk-icon-angle-double-down"></i>
                <i class="uk-icon-angle-double-left"></i>
                <i class="uk-icon-angle-double-right"></i>
                <i class="uk-icon-angle-double-up"></i>
                <i class="uk-icon-angle-down"></i>
                <i class="uk-icon-angle-left"></i>
                <i class="uk-icon-angle-right"></i>
                <i class="uk-icon-angle-up"></i>
                <i class="uk-icon-arrow-circle-down"></i>
                <i class="uk-icon-arrow-circle-left"></i>
                <i class="uk-icon-arrow-circle-o-down"></i>
                <i class="uk-icon-arrow-circle-o-left"></i>
                <i class="uk-icon-arrow-circle-o-right"></i>
                <i class="uk-icon-arrow-circle-o-up"></i>
                <i class="uk-icon-arrow-circle-right"></i>
                <i class="uk-icon-arrow-circle-up"></i>
                <i class="uk-icon-arrow-down"></i>
                <i class="uk-icon-arrow-left"></i>
                <i class="uk-icon-arrow-right"></i>
                <i class="uk-icon-arrow-up"></i>
                <i class="uk-icon-arrows-alt"></i>
                <i class="uk-icon-caret-left"></i>
                <i class="uk-icon-caret-right"></i>
                <i class="uk-icon-caret-up"></i>
                <i class="uk-icon-chevron-circle-down"></i>
                <i class="uk-icon-chevron-circle-left"></i>
                <i class="uk-icon-chevron-circle-right"></i>
                <i class="uk-icon-chevron-circle-up"></i>
                <i class="uk-icon-chevron-down"></i>
                <i class="uk-icon-chevron-left"></i>
                <i class="uk-icon-chevron-right"></i>
                <i class="uk-icon-chevron-up"></i>
                <i class="uk-icon-hand-o-down"></i>
                <i class="uk-icon-hand-o-left"></i>
                <i class="uk-icon-hand-o-right"></i>
                <i class="uk-icon-hand-o-up"></i>
                <i class="uk-icon-long-arrow-down"></i>
                <i class="uk-icon-long-arrow-left"></i>
                <i class="uk-icon-long-arrow-right"></i>
                <i class="uk-icon-long-arrow-up"></i>
                <i class="uk-icon-backward"></i>
                <i class="uk-icon-compress"></i>
                <i class="uk-icon-eject"></i>
                <i class="uk-icon-expand"></i>
                <i class="uk-icon-forward"></i>
                <i class="uk-icon-pause"></i>
                <i class="uk-icon-pause-circle"></i>
                <i class="uk-icon-pause-circle-o"></i>
                <i class="uk-icon-play-circle"></i>
                <i class="uk-icon-play-circle-o"></i>
                <i class="uk-icon-step-backward"></i>
                <i class="uk-icon-step-forward"></i>
                <i class="uk-icon-stop-circle"></i>
                <i class="uk-icon-stop-circle-o"></i>
                <i class="uk-icon-youtube-play"></i>
                <i class="uk-icon-500px"></i>
                <i class="uk-icon-adn"></i>
                <i class="uk-icon-amazon"></i>
                <i class="uk-icon-android"></i>
                <i class="uk-icon-angellist"></i>
                <i class="uk-icon-apple"></i>
                <i class="uk-icon-behance"></i>
                <i class="uk-icon-behance-square"></i>
                <i class="uk-icon-bitbucket"></i>
                <i class="uk-icon-bitbucket-square"></i>
                <i class="uk-icon-black-tie"></i>
                <i class="uk-icon-buysellads"></i>
                <i class="uk-icon-chrome"></i>
                <i class="uk-icon-codepen"></i>
                <i class="uk-icon-codiepie"></i>
                <i class="uk-icon-connectdevelop"></i>
                <i class="uk-icon-contao"></i>
                <i class="uk-icon-css3"></i>
                <i class="uk-icon-dashcube"></i>
                <i class="uk-icon-delicious"></i>
                <i class="uk-icon-deviantart"></i>
                <i class="uk-icon-digg"></i>
                <i class="uk-icon-dribbble"></i>
                <i class="uk-icon-dropbox"></i>
                <i class="uk-icon-drupal"></i>
                <i class="uk-icon-edge"></i>
                <i class="uk-icon-empire"></i>
                <i class="uk-icon-expeditedssl"></i>
                <i class="uk-icon-facebook"></i>
                <i class="uk-icon-facebook-f"></i>
                <i class="uk-icon-facebook-official"></i>
                <i class="uk-icon-facebook-square"></i>
                <i class="uk-icon-firefox"></i>
                <i class="uk-icon-flickr"></i>
                <i class="uk-icon-fonticons"></i>
                <i class="uk-icon-fort-awesome"></i>
                <i class="uk-icon-forumbee"></i>
                <i class="uk-icon-foursquare"></i>
                <i class="uk-icon-ge"></i>
                <i class="uk-icon-get-pocket"></i>
                <i class="uk-icon-gg"></i>
                <i class="uk-icon-gg-circle"></i>
                <i class="uk-icon-git"></i>
                <i class="uk-icon-git-square"></i>
                <i class="uk-icon-github"></i>
                <i class="uk-icon-github-alt"></i>
                <i class="uk-icon-github-square"></i>
                <i class="uk-icon-gittip"></i>
                <i class="uk-icon-google"></i>
                <i class="uk-icon-google-plus"></i>
                <i class="uk-icon-google-plus-square"></i>
                <i class="uk-icon-gratipay"></i>
                <i class="uk-icon-hacker-news"></i>
                <i class="uk-icon-houzz"></i>
                <i class="uk-icon-html5"></i>
                <i class="uk-icon-instagram"></i>
                <i class="uk-icon-internet-explorer"></i>
                <i class="uk-icon-ioxhost"></i>
                <i class="uk-icon-joomla"></i>
                <i class="uk-icon-jsfiddle"></i>
                <i class="uk-icon-lastfm"></i>
                <i class="uk-icon-lastfm-square"></i>
                <i class="uk-icon-leanpub"></i>
                <i class="uk-icon-linkedin"></i>
                <i class="uk-icon-linkedin-square"></i>
                <i class="uk-icon-linux"></i>
                <i class="uk-icon-maxcdn"></i>
                <i class="uk-icon-meanpath"></i>
                <i class="uk-icon-medium-logo"></i>
                <i class="uk-icon-mixcloud"></i>
                <i class="uk-icon-modx"></i>
                <i class="uk-icon-odnoklassniki"></i>
                <i class="uk-icon-odnoklassniki-square"></i>
                <i class="uk-icon-opencart"></i>
                <i class="uk-icon-openid"></i>
                <i class="uk-icon-opera"></i>
                <i class="uk-icon-optin-monster"></i>
                <i class="uk-icon-pagelines"></i>
                <i class="uk-icon-pied-piper"></i>
                <i class="uk-icon-pied-piper-alt"></i>
                <i class="uk-icon-pinterest"></i>
                <i class="uk-icon-pinterest-p"></i>
                <i class="uk-icon-pinterest-square"></i>
                <i class="uk-icon-product-hunt"></i>
                <i class="uk-icon-qq"></i>
                <i class="uk-icon-ra"></i>
                <i class="uk-icon-rebel"></i>
                <i class="uk-icon-reddit"></i>
                <i class="uk-icon-reddit-alien"></i>
                <i class="uk-icon-reddit-square"></i>
                <i class="uk-icon-renren"></i>
                <i class="uk-icon-safari"></i>
                <i class="uk-icon-scribd"></i>
                <i class="uk-icon-sellsy"></i>
                <i class="uk-icon-shirtsinbulk"></i>
                <i class="uk-icon-simplybuilt"></i>
                <i class="uk-icon-skyatlas"></i>
                <i class="uk-icon-skype"></i>
                <i class="uk-icon-slack"></i>
                <i class="uk-icon-slideshare"></i>
                <i class="uk-icon-soundcloud"></i>
                <i class="uk-icon-spotify"></i>
                <i class="uk-icon-stack-exchange"></i>
                <i class="uk-icon-stack-overflow"></i>
                <i class="uk-icon-steam"></i>
                <i class="uk-icon-steam-square"></i>
                <i class="uk-icon-stumbleupon"></i>
                <i class="uk-icon-stumbleupon-circle"></i>
                <i class="uk-icon-tencent-weibo"></i>
                <i class="uk-icon-trello"></i>
                <i class="uk-icon-tripadvisor"></i>
                <i class="uk-icon-tumblr"></i>
                <i class="uk-icon-tumblr-square"></i>
                <i class="uk-icon-twitch"></i>
                <i class="uk-icon-twitter"></i>
                <i class="uk-icon-twitter-square"></i>
                <i class="uk-icon-viacoin"></i>
                <i class="uk-icon-vimeo"></i>
                <i class="uk-icon-vimeo-square"></i>
                <i class="uk-icon-vine"></i>
                <i class="uk-icon-vk"></i>
                <i class="uk-icon-wechat"></i>
                <i class="uk-icon-weibo"></i>
                <i class="uk-icon-weixin"></i>
                <i class="uk-icon-whatsapp"></i>
                <i class="uk-icon-wikipedia-w"></i>
                <i class="uk-icon-windows"></i>
                <i class="uk-icon-wordpress"></i>
                <i class="uk-icon-xing"></i>
                <i class="uk-icon-xing-square"></i>
                <i class="uk-icon-y-combinator"></i>
                <i class="uk-icon-y-combinator-square"></i>
                <i class="uk-icon-yahoo"></i>
                <i class="uk-icon-yc"></i>
                <i class="uk-icon-yc-square"></i>
                <i class="uk-icon-yelp"></i>
                <i class="uk-icon-youtube"></i>
                <i class="uk-icon-youtube-square"></i>
                <i class="uk-icon-glide"></i>
                <i class="uk-icon-glide-g"></i>
                <i class="uk-icon-snapchat"></i>
                <i class="uk-icon-snapchat-ghost"></i>
                <i class="uk-icon-snapchat-square"></i>
                <i class="uk-icon-viadeo"></i>
                <i class="uk-icon-viadeo-square"></i>
                <i class="uk-icon-h-square"></i>
                <i class="uk-icon-hospital-o"></i>
                <i class="uk-icon-medkit"></i>
                <i class="uk-icon-stethoscope"></i>
                <i class="uk-icon-user-md"></i>

                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-link uk-modal-close" type="button">{{ 'Cancel' | trans }}</button>
                    <button class="uk-button uk-button-link" type="submit">{{ 'Update' | trans }}</button>
                </div>
            </form>
        </v-modal>
    </div>

    {{ icon_class }}

</template>

<script>

    module.exports = {

        name: 'icon-picker',

        props: {
            icon_class: {
                type: String,
                default: ''
            }
        },

        ready: function() {
          var $form = $(this.$refs.modal.$el), vm=this;
            $form.on('click' ,'i', function() {
                vm.icon_class = this.className;
                vm.update();
            });
        },

        methods: {

            update: function () {
                this.$refs.modal.close();
                this.$emit('select', this.icon_class);
            },

            pick: function () {
                this.$refs.modal.open();
            },

            remove: function() {
                this.icon_class = '';
            }
        }
    };

</script>
