<template>

    <div class="uk-grid pk-grid-large pk-width-sidebar-large uk-form-stacked" data-uk-grid-margin>
        <div class="pk-width-content">

            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" type="text" name="name" :placeholder="'Enter Name' | trans" v-model="shortcode.name" v-validate:required>
                <p class="uk-form-help-block uk-text-danger" v-show="form.title.invalid">{{ 'Title cannot be blank.' | trans }}</p>
            </div>

            <div class="uk-form-row">
                <textarea class="uk-width-1-1 uk-form-large" v-model="shortcode.macro"></textarea>
                <p class="uk-form-help-block">{{ 'Shortcode macro' | trans }}</p>
            </div>

            <div class="uk-form-row">
                <v-editor id="shortcode-html" :value.sync="shortcode.html"></v-editor>
                <p class="uk-form-help-block">{{ 'Shortcode html' | trans }}</p>
            </div>

        </div>
        <div class="pk-width-sidebar">

            <div class="uk-panel">

                <div class="uk-form-row">
                    <label for="form-image" class="uk-form-label">{{ 'Icon' | trans }}</label>
                    <div class="uk-form-controls">
                        <icon-picker :icon_class.sync="shortcode.icon"></icon-picker>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label for="form-status" class="uk-form-label">{{ 'Status' | trans }}</label>
                    <div class="uk-form-controls">
                        <select id="form-status" class="uk-width-1-1" v-model="shortcode.status">
                            <option v-for="(id, status) in data.statuses" :value="id">{{status}}</option>
                        </select>
                    </div>
                </div>

                <div class="uk-form-row">
                    <span class="uk-form-label">{{ 'Publish on' | trans }}</span>
                    <div class="uk-form-controls">
                        <input-date :datetime.sync="shortcode.create_date"></input-date>
                    </div>
                </div>

                <!--<div class="uk-form-row">
                    <span class="uk-form-label">{{ 'Restrict Access' | trans }}</span>
                    <div class="uk-form-controls uk-form-controls-text">
                        <p v-for="role in data.roles" class="uk-form-controls-condensed">
                            <label><input type="checkbox" :value="role.id" v-model="shortcode.roles" number> {{ role.name }}</label>
                        </p>
                    </div>
                </div>-->

            </div>

        </div>
    </div>

</template>

<script>

    module.exports = {

        props: ['shortcode', 'data', 'form'],

        section: {
            label: 'Shortcode'
        },

        components: {
            'icon-picker': require('../components/icon-picker.vue')
        }

    };

</script>
