<template>

    <div>
        <v-modal v-ref:modal :closed="close">
            <form class="uk-form uk-form-stacked shortcode-form" @submit.prevent="update">

                <div class="uk-modal-header">
                    <h2>{{ 'Insert Shortcode' | trans }}</h2>
                </div>

                <ul class="uk-list-line">
                    <template v-for="i in Math.ceil(shortcodes.length / 3)">
                        <li class="uk-grid">
                            <div class="shortcode-item uk-width-1-3" @click="update(i * 3)">
                                <i class="uk-icon-medium {{ getField(i * 3, 'icon') }}"></i> {{ getField(i * 3, 'name') }}
                            </div>
                            <div class="shortcode-item uk-width-1-3" @click="update(i * 3 + 1)">
                                <i class="uk-icon-medium {{ getField(i * 3 + 1, 'icon') }}"></i> {{  getField(i * 3 + 1, 'name') }}
                            </div>
                            <div class="shortcode-item uk-width-1-3" @click="update(i * 3 + 2)">
                                <i class="uk-icon-medium {{ getField(i * 3 + 2, 'icon') }}"></i> {{  getField(i * 3 + 2, 'name') }}
                            </div>
                        </li>
                    </template>
                </ul>

            </form>
        </v-modal>
    </div>

</template>

<script>

    module.exports = {

        data: function () {
            return {
                shortcode: '',
                shortcodes: [],
                rows: []
            }
        },

        ready: function () {
            this.$refs.modal.open();
        },

        methods: {

            close: function() {
                this.$destroy(true);
            },

            getField: function(index, name) {
                if(typeof this.shortcodes[index] != 'undefined') {
                    return this.shortcodes[index][name]
                }
            },

            update: function (index) {
                this.shortcode = this.shortcodes[index].macro;
                this.$refs.modal.close();
                this.$emit('select', this.shortcode);
            }

        }

    };

</script>
