.uk-form-row .uk-icon-large {font-size: 800% !important; }
.icon-picker-container .uk-panel-badge { top: 65px !important; right: 110px !important; }
.icon-picker i { cursor: pointer; }
.icon-picker i:hover { cursor: pointer; color: #3a94e0; }
.shortcode-item { cursor: pointer; height: 28px;}
.uk-htmleditor a.disabled, .uk-htmleditor a.disabled:hover {
    color: #ccc;
    cursor: not-allowed;
    background: none;
}
.shortcode-item i { padding-right: 5px; font-size: 110%; }
.shortcode-item:hover, .shortcode-item.active { color: #3a94e0; }
.icon-picker-container  .uk-overlay-background {  background: rgba(238, 238, 238, 0.61); }
ul.social-share-list li { display: inline-block;  vertical-align: bottom;}
ul.social-share-list li.share-google{padding-right: 15px}